.featured{
    height: 90vh;
    position: relative;
    
    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: azure;
        display: flex;
        align-items: center;

        select{
            cursor: pointer;
            background-color: var(--main-color);
            border: 1.5px solid azure;
            color: azure;
            margin-left: 15px;
            padding: 5px;
            border-radius: 3px;
        }
    }

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: rgb(53, 53, 53);
        display: flex;
        flex-direction: column;

        img{
            width: 350px;
            border-radius: 7px;
        }

        .description{
            margin: 20px 0px;
            font-size: 20px;
        }

        .buttons{
            display: flex;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                margin-left: 15px;
                border: none;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;

                &.play{
                    background-color: white;
                    color: var(--main-color);
                }

                &.more-info{
                    background-color: grey;
                    color: azure;
                }

                span{
                    margin-left: 6px;
                }
            }
        }

    }
}